<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">
                        	
							<h1>Editing profile</h1>

							<%= render 'form' %>

							<%= link_to 'Show', @profile %> |
							<%= link_to 'Back', profiles_path %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>