<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
            <div class="col-md-12">
            <!-- main content start-->

			<% content_for :title do %>New Advice Message!<% end %>

			<h1>New Advice Message!</h1>

			<%= render 'form' %>

            <!-- main content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>


<% end %>