<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
        	<div class="col-md-1">
        	</div>
            <div class="col-md-9">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">

							<% content_for :title do %>New Advice Message!<% end %>

							<h1>New Advice Message!</h1>

							<%= render 'form' %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>