<% content_for :title do %>Assignments<% end %>

<% content_for :head do %>
  <style>
    .assignment-actions {
      display:none;
      margin-left:20px;
    }
    .assignment-date {
      float:left;
      width:100px;
      color:#999;
    }
    ul.assignments > li {
      clear:both;
      padding:5px;
      list-style-type: none;
    }
      ul.assignments > li:hover > .assignment-actions {
        display:inline;
      }
    
  </style>

  
<% end %>

<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">
        <div class="awidget-body">
          <!-- Dayr Top Half Details -->
          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">
            <!-- main content start-->

            <% if can? :manage, Assignment %>
            <div class="page-actions">
              <%= link_to '+ New Assignment', new_assignment_path, :class => 'btn btn-primary', :id => 'new-assign' %>
            </div>
            <% end %>
            <h1>Challenges</h1>
            
            <% @assignments.each do |assignment| %>
              <% if can? :manage, Assignment or assignment.date <= Date.today%>




              <% end %>                              
            <% end %>
                            
            <!-- main content end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sb do %>


<% end %>
