<!-- main content area -->

<div class="mainy">
    <!-- Page title -->
    <!-- Page title -->
    <div >
        <div >
            <div class="awidget">

                <div class="awidget-body">

                    <!-- Dayr Top Half Details -->

                    <!-- Dayr Top-Left (includes time, and dayrs)-->
                    <div class="col-md-12">

						<% content_for :title do %>New Assignment<% end %>

						<h1>New Assignment</h1>

						<%= render 'form' %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>