<% content_for :title do %>No Challenge<% end %>

<h1>
  No Challenge
</h1>

<section class="row">
	
	<div class="span8">
		<div class="row">
		  
		  <div class="span3">
		    <div class="challenge-box">
		      
		      <!-- Challenge date -->
		      <div class="challenge-date">
    			  <%= raw Date.today.strftime("<b>%b %d</b><br/>%Y") %>
  			  </div>
		      
		      <!-- Challenge button -->
      		<a class="btn btn-large challenge-button disabled">Relax!</a>
      		
      	</div>
    	</div>
    
  
    	
    	<!-- Challenge image -->
    	<div class="span5">
    	  <a href="http://www.flickr.com/photos/dotpolka/8443772/" title="piece of  cake II by dotpolka, on Flickr"><img src="http://farm1.staticflickr.com/6/8443772_de6fc599d5.jpg" width="380" alt="piece of  cake II"></a>
    	</div>
    	
    </div>
  </div>
</section>