<!-- main content area -->

<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">

        <div class="awidget-body">

          <!-- Dayr Top Half Details -->

          <!-- Dayr Top-Left (includes time, and dayrs)-->
          <div class="col-md-12">

            <!-- Date timer count -->
            <div class="timer">
              <p>
                <%= raw Date.today.strftime("<b>%b %d</b> %Y") %>
              </p>
            </div>

            <!-- Challenge Title -->
            <div class="row">
              <h1 class="challenge-name">Baby Dayr</h1>
            </div>

            <div class="row">

              <!-- Challenge Information -->
              <div class="col-md-6">

                <div class="phone-img hidden-md hidden-lg visible-xs visible-sm">
 <a href="http://www.flickr.com/photos/dotpolka/8443772/" title="piece of  cake II by dotpolka, on Flickr"><img src="http://farm1.staticflickr.com/6/8443772_de6fc599d5.jpg" width="380" alt="piece of  cake II"></a>
                </div>

                <p>
                      <a class="btn btn-large challenge-button disabled">I did this!</a>

                </p>

                <!-- People who completed this challenge -->

                <p class="dayrs">be the first to do this challenge!</p>

                <hr/>
                  <br><br>
                <hr/>
              </div>

              <div class="col-md-6">
                <div class="hidden-xs hidden-sm hidden-m">
                    <a href="http://www.flickr.com/photos/dotpolka/8443772/" title="piece of  cake II by dotpolka, on Flickr"><img src="http://farm1.staticflickr.com/6/8443772_de6fc599d5.jpg" width="380" alt="piece of  cake II"></a>
                </div>
              </div>
            </div>

            <!-- Dayr Top-Right (includes picture)-->
          </div>
          <div class="col-md-12">
            <p>
            </p>

            <br>

            <hr/>

            <section>

              <h2 id="comments_count">
                  Leave a comment...

              </h2>

            </section>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="clearfix"></div>

<!-- End of main content area -->

<% content_for :sb do %>



<% end %>




