<% content_for :title do %>Your Advice Messages<% end %>

<% content_for :head do %>
  <style>
    .discussion-actions {
      display:none;
      margin-left:20px;
    }
    ul.discussion_message > li {
      clear:both;
      padding:5px;
      list-style-type: none;
    }

  </style>
<% end %>



<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">

                          
                          <div class="page-actions">
                            <%= link_to '+ New Discussion', new_discussion_path, :class => 'btn btn-primary', :id => 'new-assign' %>
                          </div>

                          <h1>Discussion Board</h1>


                            <ul class="bulletless discussion_message">
                            <% if @discussions != nil && @discussions.length != 0%>
                              <% @discussions.each do |discussion| %>
                                <li>
                                  <span class="assignment-date"><%=h discussion.created_at.strftime("%b %d, %Y") %></span>
                                  <%= gravatar_tag discussion.user, :size => '20' %>
                                  <%= link_to discussion.subject, discussion, :class => 'assignment-challenge' %>
                                </li>                          
                              <% end %>
                            <% else %>

                            <% end %>                            
                          </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

