<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">

							<% content_for :title do %>New Additional Information Page<% end %>

							<h1>New Additional Information Page</h1>

							<%= render 'form' %>

						</div>
					</div>
				</div>
			</div>
            <div class="col-md-3">
				  <h2>Formatting the description</h2>
				  <%= render :partial => "layouts/textile_examples" %>
            </div>
		</div>
	</div>
</div>