<!-- main content area -->

<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  <div >
    <div >
      <div class="awidget">

        <div class="awidget-body">

          <div class="col-md-12">
          <% if can? :manage, AdditionalInformation %>
            <div class="page-actions">
              <%= link_to 'Edit', edit_additional_information_path(@additional_information), :class => 'btn btn-primary', :id => 'new-assign' %>
            </div>
          <% end %>

					<% content_for :title do %>Show Additional Information Page<% end %>

					<h1><%=@additional_information.name%></h1>
					<%= raw textilize @additional_information.content %>
        </div>

				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :sb do %>


<% end %>