<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">
                        	
							<h1>About</h1>

							<p>Baby Dayr is part of the Tools for Teen Mom's project, aimed at helping moms feed their babies in a healthy, positive way, through daily activities that we are calling challenges.  Over time, completing these challenges can enable moms to be more knowledgeable about baby's nutritional needs, helping them with raising a healthier and happier baby.</p> 

							<br>

							<p>Currently, Dayr supports and rotates through these types of challenges:
								<ul>
									<li>Physical Health</li>
									<li>Nutritional Health</li>
									<li>Social & Emotional Health</li>
									<li>Others</li>
								</ul>
							</p> 

							<br>

							<hr class="space" />

							<p>Baby Dayr is designed and built by experts in nursing, health communication, and social media from University of Washington's <a href="http://hcde.uw.edu/" target="_blank">Human Centered Design & Engineering</a>  and Michigan State University's <a href="http://nursing.msu.edu" target="_blank">College of Nursing</a> and <a href="http://cas.msu.edu/" target="_blank">College of Communication Arts and Sciences</a>. 
							</p>


							<p>&nbsp;</p> 

							<h2>Contact</h2>
							<a href="mailto:dayrme@gmail.com">dayreme@gmail.com</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>