<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">
                        	
							<h1>About</h1>

							<p>Dayr is designed to encourage people to tackle small, self-rewarding challenges, everyday. Over time, these experiences will accumulate and enable people to live a better and healthier life.</p> 

							<p>Currently, Dayr supports and rotates through these types of challenges:
								<ul>
									<li>Physical Health</li>
									<li>Nutritional Health</li>
									<li>Social & Emotional Health</li>
									<li>Others</li>
								</ul>
							</p> 

							<hr class="space" />

							<p>Dayr is an ongoing research project at <a href="http://www.msu.edu" target="_blank">Michigan State University</a>'s <a href="http://cas.msu.edu/" target="_blank">College of Communication Arts and Sciences</a>. 
							</p>


							<p>&nbsp;</p> 

							<h2>Contact</h2>
							<a href="mailto:dayrme@gmail.com">dayreme@gmail.com</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>