<!-- Page content -->
<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

            <!-- main content area -->
                <div class="mainy">
                  <!-- Page title -->
                  <!-- Page title -->
                    <div class="awidget">

                        <div class="awidget-body">
                        	
							<h1>About</h1>

							<p>
								<iframe width="560" height="315" showinfo="0" src="https://www.youtube.com/embed/djyUzMqUZhQ?rel=0" frameborder="0"></iframe>
							</p>

							<br>

							<p>Welcome to Tools For Teen Moms!</p>

							<br>

							<p>
							This program is aimed at helping moms feed their babies in a healthy, positive way, through daily activities that we are calling challenges. Over time, completing these challenges can enable moms to be more knowledgeable about baby's nutritional needs, helping them with raising a healthier and happier baby.
							</p> 

							<br>

							<p>Tools for Teen Mom is designed and built by experts in nursing, health communication, and social media from University of Washington's <a href="http://hcde.uw.edu/" target="_blank">Human Centered Design & Engineering</a>  and Michigan State University's <a href="http://nursing.msu.edu" target="_blank">College of Nursing</a> and <a href="http://cas.msu.edu/" target="_blank">College of Communication Arts and Sciences</a>. 
							</p>

							<br>
							<p>&nbsp;</p> 
							<br>


							<hr class="space" />


							<div id="Contact"><h2>Contact</h2></div>
							<br>

							<p>We are here to help and will answer your questions the best we can!</p>

							<br>

							<p>If you have an urgent medical concern, please contact your family doctor or go to the emergency room.</p> 

							<br>
							<p>If you have a non-urgent medical question, email our nurse Kristin at karnold@ingham.org</p>
							<br>
							<p>If you have a question about the program, the challenges, or the website, contact Site Coordinators: Alice Hoffman or Mackenzie Robson</p>

							<br>
							<p>Phone: 517-432-01098</p>
							<p>Email: <a href="mailto:dayrme@gmail.com">dayreme@gmail.com</a></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>