<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
						<h1>Music Video: Teach me how to Breastfeed Rap</h1>

						<p>
							<iframe width="560" height="315" src="//www.youtube.com/embed/ax85hE3_2uE?rel=0&autoplay=0&loop=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
						</p>


            			<!-- main content end-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :sb do %>


<% end %>