<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
						<h1>My Baby's First Foods</h1>

						<p>
							<iframe width="560" height="315" src="//www.youtube.com/embed/85C7IHqJKQ4?rel=0&autoplay=0&loop=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
						</p>

						<br>

						<p>For more information: please click on this <%= link_to "PDF", "../../pdf/my_babys_first_foods.pdf"%>.</p>

            			<!-- main content end-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :sb do %>


<% end %>