<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
                        <form class="form-horizontal"  role="form">
						<h1>Make Solid Decisions</h1>

						<p>
							See what you remember!
						</p>

						<br>

						<ol class="quiz">
							<li>
								What is the recommended age to start introducing solid foods?
								<br>
								<label>
									<input type="radio" name="q1" value="q1_1" /> 2-3 months
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="q1_2" /> 4-6 months
								</label>
								<p id="q1_1"> 
									<strong>Try again!</strong>
								</p>
								<p id="q1_2"> 
									<strong>Right!</strong>
								</p>
							</li>
							<li>
								Solid foods include...
								<br>
								<label>
									<input type="radio" name="q2" value="q2_1" /> Anything other than breast milk or formula!
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="q2_2" /> Chips, crackers, anything that’s not “mushy”.
								</label>
								<p id="q2_1"> 
									<strong>Right!</strong> 
								</p>
								<p id="q2_2"> 
									<strong>Try again!</strong> 
								</p>							
							</li>
							<li>
								Before the age of 4-6 months, your baby should eat...
								<br>
								<label>
									<input type="radio" name="q3" value="q3_1" /> Only breast milk or formula, that’s all her digestive system can handle.
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="q3_2" /> Breast milk, formula and baby cereal.
								</label>
								<p id="q3_1"> 
									<strong>Right!</strong> 
								</p>
								<p id="q3_2"> 
									<strong>Try again!</strong>
								</p>							
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q4" value="q4_1" /> Your baby pushes food out of her mouth with her tongue when you try to give her a taste.
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="q4_2" /> Your baby seems interested when she watches you eat!
								</label>
								<p id="q4_2"> 
									<strong>Right!</strong> 
								</p>
								<p id="q4_1"> 
									<strong>Try again!</strong>
								</p>
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q5" value="q5_1" /> Your baby reaches for things and can hold them!
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="q5_2" /> Your baby can’t quite hold her head up yet.
								</label>
								<p id="q5_1"> 
									<strong>Right!</strong> 
								</p>
								<p id="q5_2"> 
									<strong>Try again!</strong> 
								</p>
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q6" value="q6_1" /> Your baby can’t sit without support.
								</label>
								<br>
								<label>
									<input type="radio" name="q6" value="q6_2" /> Your baby recognizes a spoon and opens her mouth for it.
								</label>
								<p id="q6_2"> 
									<strong>Right!</strong> 
								</p>
								<p id="q6_1"> 
									<strong>Try again!</strong> 
								</p>
							</li>						
						</ol>
						<br><br>
						<hr>

					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

for(var j = 1; j < 7; j++) { // loops around each question
	var  num = "q" + j;
	var q = document.getElementsByName(num); // returns all of the questions
	for (var i = 0; i < 2; i++) {
		q[i].onclick = refreshResults; // if you clicked on a answer
	}
}

function refreshResults() {
	for(var j = 1; j < 7; j++) { // loops around each question
		var  num = "q" + j;
		var q = document.getElementsByName(num); // returns all of the questions
		for (var i = 1; i < 3; i++) {
			if(q[i-1].checked == false) {
				document.getElementById("q"+j+"_"+i).style.display = "none";
			} else {
				document.getElementById("q"+j+"_"+i).style.display = "block";
			}
		}
	}
}

</script>
<% end %>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Quizzes for Moms</h2>
      <ul>
        <li><a href="/quiz1">Red Light, Green Light</a></li>
        <li><a href="/quiz2">Baby Personality</a></li>
        <li><a href="/quiz3">Does the Apple fall...</a></li>
        <li><a href="/quiz4">Make Solid Decisions</a></li>
      </ul>
    </div>
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
        <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>
    <div class="share">
      <h2>Share</h2>
      <!-- Like Buttons BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
      <!-- Like Buttons END -->
    </div>
  </div>

<% end %>