<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
                        <form class="form-horizontal"  role="form">
						<h1>Does the Apple fall far from the Tree?</h1>

						<p>
							How does your Baby's behaviors differ from yours?
						</p>

						<br>

						<ol class="quiz">
							<li>
								Activity Level: Click the one that most describes you and your baby.
								<br>
								<label>
									<input type="radio" name="q1" value="q1_1" /> My baby and I are both very active.
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="q1_2" /> My baby and I both have a low activity level.
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="q1_3" /> My baby and I have different activity levels.
								</label>
								<p id="q1_1"> 
									<strong>Tip:</strong> Mealtimes may feel rushed! Help by limiting distractions such as the TV or music. 
								</p>
								<p id="q1_2"> 
									<strong>Tip:</strong> You and your baby may be less distracted at mealtimes. Enjoy this special bonding time!
								</p>
								<p id="q1_3"> 
									<strong>Tip:</strong> Meal times may feel too short for one, and too long for another. Try keeping yourself and your baby focused on the feeding by singing or talking to your baby while she nurses.
								</p>
							</li>
							<li>
								Responding to Change: Click the one that most describes you and your baby.
								<br>
								<label>
									<input type="radio" name="q2" value="q2_1" /> My baby and I respond easily to change.
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="q2_2" /> My baby and I both find dealing with change to be hard.
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="q2_3" /> My baby and I respond differently to change.
								</label>
								<p id="q2_1"> 
									<strong>Tip:</strong> You and your baby are both flexible, and probably don’t mind feeding in different places.
								</p>
								<p id="q2_2"> 
									<strong>Tip:</strong> Once your baby is ready for solid food, she may need extra time to warm up to new foods.
								</p>
								<p id="q2_3"> 
									<strong>Tip:</strong> Your baby may need extra time to get used to new foods. On the other hand, you may feel nervous about how fast your baby is developing new skills. In either case, once your baby is ready for solid foods, introduce foods slowly and one at a time. 
								</p>							
							</li>
							<li>
								Mood: Click the one that most describes you and your baby.
								<br>
								<label>
									<input type="radio" name="q3" value="q3_1" /> My baby and I are usually in a good mood.
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="q3_2" /> My baby and I are both usually a little cranky.
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="q3_3" /> Our moods do not normally match up.
								</label>
								<p id="q3_1"> 
									<strong>Tip:</strong> Meal times will be a special time to bond! Look and smile at each other.
								</p>
								<p id="q3_2"> 
									<strong>Tip:</strong> Usually a little cranky: Meal times may be challenging, so take steps to make feeding time feel calm.
								</p>
								<p id="q3_3"> 
									<strong>Tip:</strong> Try to limit distractions during feeding to help you or your baby feel more calm and happy. Dimming the lights, turning off music/TV, and singing or humming can all help. You can also help by wearing comfortable clothes!
								</p>							
							</li>
							<li>
								Attention Span: Click the one that most describes you and your baby.
								<br>
								<label>
									<input type="radio" name="q4" value="q4_1" /> My baby and I both have short attention spans.
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="q4_2" /> My baby and I both have long attention spans.
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="q4_3" /> Our attention spans are very different.
								</label>
								<p id="q4_1"> 
									<strong>Tip:</strong> Try your best not to rush meal times. Help by limiting distractions like your phone!
								</p>
								<p id="q4_2"> 
									<strong>Tip:</strong> Focusing on meal times might be easier. Giving your baby your full attention makes him feel loved and cared for!
								</p>
								<p id="q4_3"> 
									<strong>Tip:</strong> If you tend to have a short attention span, you may try to hurry mealtime. Remember that mealtime is important not only for nutrition, but for bonding! Keep mealtime relaxed by limiting distractions. This will also help your baby if she has a short attention span.
								</p>
							</li>
							<li>
								Reactions: Click the one that most describes you and your baby.
								<br>
								<label>
									<input type="radio" name="q5" value="q5_1" /> My baby and I are both easy going.
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="q5_2" /> My baby and I are both easily upset.
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="q5_3" /> My baby and I react differently to changes.
								</label>
								<p id="q5_1"> 
									<strong>Tip:</strong> You don’t mind letting your baby “run the show, and your baby may be pretty flexible!
								</p>
								<p id="q5_2"> 
									<strong>Tip:</strong> Try not to wait until your baby is upset to start to feed. Do your best to learn her schedule, and be ready to begin the feeding.
								</p>
								<p id="q5_3"> 
									<strong>Tip:</strong> Mealtimes can be challenging because you may worry your baby’s nutrition or the mess. You can help by getting to know your baby’s subtle cues, and feeding schedule so that you can respond to your baby’s hunger before your baby gets upset!
								</p>
							</li>
						</ol>
						<br><br>
						<hr>

						<!-- Fiesty baby results -->

						<div id="feistyResults">
							<h2>Your baby is Feisty!</h2>
							<h3>Feisty Babies:</h3>
							<ul class="quizResults">
								<li>Let you know what they need.</li>
								<li>Have strong reactions to hunger, pain, and being tired.</li>
								<li>Can get upset easily.</li>
								<li>Need time to get used to changes.</li>
								<li>Need love and attention!</li>
							</ul> 
							<h3>Tips for feeding your Feisty Baby:</h3>
							<ul class="quizResults">
								<li>Keep your baby interested in the feeding by talking to him and making eye contact.</li>
								<li>Offer feedings around the same time each day, as long as your baby is showing signs that he is hungry.</li>
								<li>Try to be prepared for the feeding, so he doesn’t become so upset he can’t eat.</li>
							</ul>
						</div>	

					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

for(var j = 1; j < 6; j++) { // loops around each question
	var  num = "q" + j;
	var q = document.getElementsByName(num); // returns all of the questions
	for (var i = 0; i < q.length; i++) {
		q[i].onclick = refreshResults; // if you clicked on a answer
	}
}

function refreshResults() {
	for(var j = 1; j < 6; j++) { // loops around each question
		var  num = "q" + j;
		var q = document.getElementsByName(num); // returns all of the questions
		for (var i = 1; i < 4; i++) {
			if(q[i-1].checked == false) {
				document.getElementById("q"+j+"_"+i).style.display = "none";
			} else {
				document.getElementById("q"+j+"_"+i).style.display = "block";
			}
		}
	}
}

</script>
<% end %>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Quizzes for Moms</h2>
      <ul>
        <li><a href="/quiz1">Red Light, Green Light</a></li>
        <li><a href="/quiz2">Baby Personality</a></li>
        <li><a href="/quiz3">Does the Apple fall...</a></li>
        <li><a href="/quiz4">Make Solid Decisions</a></li>
      </ul>
    </div>
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
        <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>
    <div class="share">
      <h2>Share</h2>
      <!-- Like Buttons BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
      <!-- Like Buttons END -->
    </div>
  </div>

<% end %>