<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
    <div >
      <div >
          <div class="awidget">
            <div class="awidget-body">
              <!-- Dayr Top Half Details -->
              <!-- Dayr Top-Left (includes time, and dayrs)-->
              <div class="col-md-12">
                <!-- main content start-->
                        
          <form class="form-horizontal"  role="form">
            <h1>Quiz: Red Light, Green Light!</h1>

            <p>
              Practice identifying types of cues, and understanding what your baby is trying to tell you.  If you haven’t had a challenge yet that talks about this, look for it in upcoming challenges!
            </p>

            <br>

            <ol class="quiz">
              <li>
                Your baby starts to look drowsy or falls asleep
                <br>
                <label>
                  <input type="radio" name="q1" value="q1_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q1" value="q1_2" /> Stop
                </label>
                <p id="q1_2"> 
                  <strong>Correct! This is stop cue.</strong>
                </p>
                <p id="q1_1"> 
                  <strong>Incorrect! This is a stop cue.</strong>
                </p>
              </li>
              <li>
                Your baby moves his or her arms toward you
                <br>
                <label>
                  <input type="radio" name="q2" value="q2_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q2" value="q2_2" /> Stop
                </label>
                <p id="q2_1"> 
                  <strong>Correct! This is a go clue.</strong> 
                </p>
                <p id="q2_2"> 
                  <strong>Incorrect! This is a go clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby arches his or her back
                <br>
                <label>
                  <input type="radio" name="q3" value="q3_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q3" value="q3_2" /> Stop
                </label>
                <p id="q3_2"> 
                  <strong>Correct! This is a stop clue.</strong> 
                </p>
                <p id="q3_1"> 
                  <strong>Incorrect! This is a stop clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby makes swallowing sounds, sucking sounds, or smacks lips together
                <br>
                <label>
                  <input type="radio" name="q4" value="q4_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q4" value="q4_2" /> Stop
                </label>
                <p id="q4_1"> 
                  <strong>Correct! This is a go clue.</strong> 
                </p>
                <p id="q4_2"> 
                  <strong>Incorrect! This is a go clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby turns his or her head away
                <br>
                <label>
                  <input type="radio" name="q5" value="q5_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q5" value="q5_2" /> Stop
                </label>
                <p id="q5_2"> 
                  <strong>Correct! This is a stop clue.</strong> 
                </p>
                <p id="q5_1"> 
                  <strong>Incorrect! This is a stop clue.</strong> 
                </p>              
              </li>           
            </ol>
            <br><br>
            <hr>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
<script>

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

for(var j = 1; j < 7; j++) { // loops around each question
  var  num = "q" + j;
  var q = document.getElementsByName(num); // returns all of the questions
  for (var i = 0; i < 2; i++) {
    q[i].onclick = refreshResults; // if you clicked on a answer
  }
}

function refreshResults() {
  for(var j = 1; j < 6; j++) { // loops around each question
    var  num = "q" + j;
    var q = document.getElementsByName(num); // returns all of the questions
    for (var i = 1; i < 3; i++) {
      if(q[i-1].checked == false) {
        document.getElementById("q"+j+"_"+i).style.display = "none";
      } else {
        document.getElementById("q"+j+"_"+i).style.display = "block";
      }
    }
  }
}

</script>
<% end %>

<% content_for :sb do %>

  <div class="awidget">
    <div class="faq">
      <h2>Quizzes for Moms</h2>
      <ul>
        <li><a href="/quiz1">Red Light, Green Light</a></li>
        <li><a href="/quiz2">Baby Personality</a></li>
        <li><a href="/quiz3">Does the Apple fall...</a></li>
        <li><a href="/quiz4">Make Solid Decisions</a></li>
      </ul>
    </div>
    <div class="faq">
      <h2>Contact</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/toolsforteenmoms/" target="_blank">T4TM Facebook Group</a></li>
        <li><%= link_to "Ask the Advice Nurse", new_advice_message_path%></li>
        <li><a href="/about/#Contact">Site Coordinators</a></li>
      </ul>
    </div>
    <div class="share">
      <h2>Share</h2>
      <!-- Like Buttons BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5289d4263ec6634a"></script>
      <!-- Like Buttons END -->
    </div>
  </div>

<% end %>