<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
    <div >
      <div >
          <div class="awidget">
            <div class="awidget-body">
              <!-- Dayr Top Half Details -->
              <!-- Dayr Top-Left (includes time, and dayrs)-->
              <div class="col-md-12">
                <!-- main content start-->
                        
          <form class="form-horizontal"  role="form">
            <h1>Quiz: Red Light, Green Light!</h1>

            <p>
              Practice identifying types of cues, and understanding what your baby is trying to tell you.  If you haven’t had a challenge yet that talks about this, look for it in upcoming challenges!
            </p>

            <br>

            <ol class="quiz">
              <li>
                Your baby starts to look drowsy or falls asleep
                <br>
                <label>
                  <input type="radio" name="q1" value="q1_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q1" value="q1_2" /> Stop
                </label>
                <p id="q1_2"> 
                  <strong>Correct! This is stop cue.</strong>
                </p>
                <p id="q1_1"> 
                  <strong>Incorrect! This is a stop cue.</strong>
                </p>
              </li>
              <li>
                Your baby moves his or her arms toward you
                <br>
                <label>
                  <input type="radio" name="q2" value="q2_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q2" value="q2_2" /> Stop
                </label>
                <p id="q2_1"> 
                  <strong>Correct! This is a go clue.</strong> 
                </p>
                <p id="q2_2"> 
                  <strong>Incorrect! This is a go clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby arches his or her back
                <br>
                <label>
                  <input type="radio" name="q3" value="q3_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q3" value="q3_2" /> Stop
                </label>
                <p id="q3_2"> 
                  <strong>Correct! This is a stop clue.</strong> 
                </p>
                <p id="q3_1"> 
                  <strong>Incorrect! This is a stop clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby makes swallowing sounds, sucking sounds, or smacks lips together
                <br>
                <label>
                  <input type="radio" name="q4" value="q4_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q4" value="q4_2" /> Stop
                </label>
                <p id="q4_1"> 
                  <strong>Correct! This is a go clue.</strong> 
                </p>
                <p id="q4_2"> 
                  <strong>Incorrect! This is a go clue.</strong> 
                </p>              
              </li>
              <li>
                Your baby turns his or her head away
                <br>
                <label>
                  <input type="radio" name="q5" value="q5_1" /> Go
                </label>
                <br>
                <label>
                  <input type="radio" name="q5" value="q5_2" /> Stop
                </label>
                <p id="q5_2"> 
                  <strong>Correct! This is a stop clue.</strong> 
                </p>
                <p id="q5_1"> 
                  <strong>Incorrect! This is a stop clue.</strong> 
                </p>              
              </li>           
            </ol>
            <hr><br>
            <div id="review">
              <h2>You finished! Here's your review:</h2>
              <h3><strong>Go Cues</strong></h3>
              <ul class="quizResults">
                <li>Tell you your baby wants to keep going.</li>
                <li>Looking at your face</li>
                <li>Moving her arms toward you</li>
                <li>Turning her head toward you</li>
                <li>Bright eyes!</li>
                <li>Smiling</li>
                <li>Making feeding sounds (swallowing sounds, sucking sounds, smacking lips together)</li>
                <li>Crawling to you!</li>
              </ul> 
              <h3><strong>Stop Cues</strong></h3>
              <ul class="quizResults">
                <li>Tell you your baby needs a break or is full!</li>
                <li>Turning her head away from you</li>
                <li>Arching her back or pulling away</li>
                <li>iteGetting drowsym</li>
                <li>Falling asleep</li>
                <li>Fussiness</li>
                <li>Crying</li>               
              </ul>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
<script>

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

var CHECKED;

for(var j = 1; j < 7; j++) { // loops around each question
  var  num = "q" + j;
  var q = document.getElementsByName(num); // returns all of the questions
  for (var i = 0; i < 2; i++) {
    q[i].onclick = refreshResults; // if you clicked on a answer
  }
}

function refreshResults() {
  CHECKED=0;
  for(var j = 1; j < 6; j++) { // loops around each question
    var  num = "q" + j;
    var q = document.getElementsByName(num); // returns all of the questions
    for (var i = 1; i < 3; i++) {
      if(q[i-1].checked == false) {
        document.getElementById("q"+j+"_"+i).style.display = "none";
      } else {
        CHECKED +=1;
        document.getElementById("q"+j+"_"+i).style.display = "block";
      }
    }
  }
  if(CHECKED == 5) {
    document.getElementById("review").style.display = "block";
  } else {
    document.getElementById("review").style.display = "none";
  }
}

</script>
<% end %>

<% content_for :sb do %>


<% end %>