<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
                        <form class="form-horizontal"  role="form">
						<h1>Baby Personality quiz!</h1>

						<p>
							Is your baby Flexible, Shy or Feisty? Keep track of how many answers you have for each type (shy, feisty, flexible!) and read information at the end about your baby’s personality!
						</p>

						<br>

						<ol class="quiz">
							<li>
								How does your baby handle change?
								<br>
								<label>
									<input type="radio" name="q1" value="shy" /> 	Needs time to warm up to it
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="feisty" /> 
									Reacts strongly, often starts to cry
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="flexible" /> Handles change easily
								</label>
								<p> 
									<strong id="q1"></strong>
								</p>
							</li>
							<li>
								How active is your baby?
								<br>
								<label>
									<input type="radio" name="q2" value="flexible" /> 	Needs time to Active and happy to explore!
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="feisty" /> 
									Somewhat active, but easily overwhelmed
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="shy" /> 
									Less active, a little timid
								</label>
								<p> 
									<strong id="q2"></strong>
								</p>							
							</li>
							<li>
								How does your baby respond to noise, touch, or smell?
								<br>
								<label>
									<input type="radio" name="q3" value="shy" /> 	
									Gets overwhelmed easily
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="feisty" /> 
									Gets upset and frustrated by the change
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="flexible" /> 
									Handles change pretty easily
								</label>
								<p> 
									<strong id="q3"></strong>
								</p>
							</li>	
							<li>
								How does your baby act when she needs something?
								<br>
								<label>
									<input type="radio" name="q4" value="flexible" /> 	
									Usually doesn’t make much of a fuss
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="feisty" /> 
									Seems very upset
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="shy" /> 
									Gets somewhat upset
								</label>
								<p> 
									<strong id="q4"></strong>
								</p>
							</li>
							<li>
								How would you describe your baby’s mood most of the time?
								<br>
								<label>
									<input type="radio" name="q5" value="shy" /> 	
									Acts a little timid
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="flexible" /> 
									Seems happy most of the time
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="feisty" /> 
									Pretty active and adventurous
								</label>
								<p> 
									<strong id="q5"></strong>
								</p>
							</li>
						</ol>
						<hr><br>

						<!-- Fiesty baby results -->

						<div id="feistyResults">
							<h2>Results: Your baby is Feisty!</h2>
							<h3>Feisty Babies:</h3>
							<ul class="quizResults">
								<li>Let you know what they need.</li>
								<li>Have strong reactions to hunger, pain, and being tired.</li>
								<li>Can get upset easily.</li>
								<li>Need time to get used to changes.</li>
								<li>Need love and attention!</li>
							</ul> 
							<h3>Tips for feeding your Feisty Baby:</h3>
							<ul class="quizResults">
								<li>Keep your baby interested in the feeding by talking to him and making eye contact.</li>
								<li>Offer feedings around the same time each day, as long as your baby is showing signs that he is hungry.</li>
								<li>Try to be prepared for the feeding, so he doesn’t become so upset he can’t eat.</li>
							</ul>
						</div>	

						<!-- Flexible baby results -->

						<div id="flexResults">
							<h2>Results: Your baby is Flexible!</h2>
							<h3>Flexible Babies:</h3>
							<ul class="quizResults">
								<li>Are usually in a good mood, and are easy going.</li>
								<li>May not make much of a fuss when they need something.</li>
								<li>Need love and attention!</li>
							</ul> 
							<h3>Tips for feeding your Flexible Baby:</h3>
							<ul class="quizResults">
								<li>Give your baby lots or time to breastfeed or take a bottle.</li>
								<li>Play with her and enjoy bonding over feeding time.</li>
								<li>Don’t wait until she’s crying to feed her. Watch for earlier signs of hunger.</li>
							</ul>
						</div>

						<!-- Shy baby results -->

						<div id="shyResults">
							<h2>Results: Your baby is Shy!</h2>
							<h3>Shy Babies:</h3>
							<ul class="quizResults">
								<li>Need time to warm up to new foods, people and places.</li>
								<li>Like to have a routine each day.</li>
								<li>Need patience, love and affection from you!</li>
							</ul> 
							<h3>Tips for feeding your Shy Baby:</h3>
							<ul class="quizResults">
								<li>Turn off the television while feeding.</li>
								<li>Try to keep feedings around the same time each day as long as she shows that she’s hungry.</li>
								<li>Once your baby is ready for solid foods, introduce new foods very slowly. It may take her as many as 15 times before she may begin to like it.</li>
							</ul>
						</div>					
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>

var FEISTY_COUNT = 0;
var FLEX_COUNT = 0;
var SHY_COUNT = 0;
var CURR;

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

for(var j = 1; j < 6; j++) {
	var  num = "q" + j;
	var q = document.getElementsByName(num);
	for (var i = 0; i < q.length; i++) {
		q[i].onclick = refreshResults;
	}
}

function refreshResults() {
	FEISTY_COUNT = 0;
	FLEX_COUNT = 0;
	SHY_COUNT = 0;
	for(var m = 1; m < 6; m++) {
		var  num = "q" + m;
		var q = document.getElementsByName(num);
		for (var n = 0; n < q.length; n++) {
			if(q[n].checked) {
				addNumbers();
				CURR=(q[n].value);
				document.getElementById("q"+m).innerHTML = q[n].value;
			}
		}
	}
}

function addNumbers() {
	if(CURR == "shy") {
		SHY_COUNT += 1;
	} else if(CURR == "flexible") {
		FLEX_COUNT += 1;
	} else {
		FEISTY_COUNT += 1;
	}
	if((FEISTY_COUNT+FLEX_COUNT+SHY_COUNT) >= 5) {
		myFunc();
	}
}

function myFunc() {
	if((FEISTY_COUNT > FLEX_COUNT) && (FEISTY_COUNT > SHY_COUNT)) {
		document.getElementById('feistyResults').style.display = "block";
		document.getElementById('flexResults').style.display = "none";
		document.getElementById('shyResults').style.display = "none";
	} else if((FLEX_COUNT > FEISTY_COUNT) && (FLEX_COUNT > SHY_COUNT)) {
		document.getElementById('feistyResults').style.display = "none";
		document.getElementById('flexResults').style.display = "block";
		document.getElementById('shyResults').style.display = "none";
	} else {
		document.getElementById('feistyResults').style.display = "none";
		document.getElementById('flexResults').style.display = "none";
		document.getElementById('shyResults').style.display = "block";
	}
}

</script>
<% end %>

<% content_for :sb do %>


<% end %>