<!-- Page content -->
<div class="mainy">
  <!-- Page title -->
  <!-- Page title -->
  	<div >
    	<div >
      		<div class="awidget">
        		<div class="awidget-body">
			        <!-- Dayr Top Half Details -->
			        <!-- Dayr Top-Left (includes time, and dayrs)-->
			        <div class="col-md-12">
			        	<!-- main content start-->
                        
                        <form class="form-horizontal"  role="form">
						<h1>Make Solid Decisions</h1>

						<p>
							See what you remember!
						</p>

						<br>

						<ol class="quiz">
							<li>
								What is the recommended age to start introducing solid foods?
								<br>
								<label>
									<input type="radio" name="q1" value="q1_1" /> 2-3 months
								</label>
								<br>
								<label>
									<input type="radio" name="q1" value="q1_2" /> 4-6 months
								</label>
								<p id="q1_1"> 
									<strong>Wrong</strong>
								</p>
								<p id="q1_2"> 
									<strong>Correct!</strong> 
								</p>
							</li>
							<li>
								Solid foods include...
								<br>
								<label>
									<input type="radio" name="q2" value="q2_1" /> Anything other than breast milk or formula!
								</label>
								<br>
								<label>
									<input type="radio" name="q2" value="q2_2" /> Chips, crackers, anything that’s not “mushy”.
								</label>
								<p id="q2_1"> 
									<strong>Correct!</strong> 
								</p>
								<p id="q2_2"> 
									<strong>Wrong</strong> 
								</p>							
							</li>
							<li>
								Before the age of 4-6 months, your baby should eat...
								<br>
								<label>
									<input type="radio" name="q3" value="q3_1" /> Only breast milk or formula, that’s all her digestive system can handle.
								</label>
								<br>
								<label>
									<input type="radio" name="q3" value="q3_2" /> Breast milk, formula and baby cereal.
								</label>
								<p id="q3_1"> 
									<strong>Correct!</strong> 
								</p>
								<p id="q3_2"> 
									<strong>Wrong</strong>
								</p>							
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q4" value="q4_1" /> Your baby pushes food out of her mouth with her tongue when you try to give her a taste.
								</label>
								<br>
								<label>
									<input type="radio" name="q4" value="q4_2" /> Your baby seems interested when she watches you eat!
								</label>
								<p id="q4_2"> 
									<strong>Correct!</strong> 
								</p>
								<p id="q4_1"> 
									<strong>Wrong</strong>
								</p>
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q5" value="q5_1" /> Your baby reaches for things and can hold them!
								</label>
								<br>
								<label>
									<input type="radio" name="q5" value="q5_2" /> Your baby can’t quite hold her head up yet.
								</label>
								<p id="q5_1"> 
									<strong>Correct!</strong> 
								</p>
								<p id="q5_2"> 
									<strong>Wrong</strong> 
								</p>
							</li>
							<li>
								Which one of these is a sign that your baby may be ready for solid foods?
								<br>
								<label>
									<input type="radio" name="q6" value="q6_1" /> Your baby can’t sit without support.
								</label>
								<br>
								<label>
									<input type="radio" name="q6" value="q6_2" /> Your baby recognizes a spoon and opens her mouth for it.
								</label>
								<p id="q6_2"> 
									<strong>Correct!</strong> 
								</p>
								<p id="q6_1"> 
									<strong>Wrong</strong> 
								</p>
							</li>						
						</ol>
						<hr><br>

						<div id="review">
              				<h2>You finished!</h2>
						</div>	

					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>

/* Loops all of the questions and their respective answers
   if an answer is clicked on, then the results function will be 
   update to keep a count. */

var CHECKED;

for(var j = 1; j < 7; j++) { // loops around each question
	var  num = "q" + j;
	var q = document.getElementsByName(num); // returns all of the questions
	for (var i = 0; i < 2; i++) {
		q[i].onclick = refreshResults; // if you clicked on a answer
	}
}

function refreshResults() {
	CHECKED = 0;
	for(var j = 1; j < 7; j++) { // loops around each question
		var  num = "q" + j;
		var q = document.getElementsByName(num); // returns all of the questions
		for (var i = 1; i < 3; i++) {
			if(q[i-1].checked == false) {
				document.getElementById("q"+j+"_"+i).style.display = "none";
			} else {
				CHECKED += 1;
				document.getElementById("q"+j+"_"+i).style.display = "block";
			}
		}
	}
	if(CHECKED == 6) {
		document.getElementById("review").style.display = "block";
	} else {
		document.getElementById("review").style.display = "none";
	}
}

</script>
<% end %>

<% content_for :sb do %>


<% end %>