body {
  padding-top:60px;
  background:#C3EBF9 url("/assets/dayr/body-bg.png") repeat-x center top;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:0.75em;
  font-weight:bold;
  letter-spacing:-0.05em;
  color:#666;
}
h1:first-child, 
h2:first-child,
h3:first-child, 
h4:first-child,
h5:first-child,
h6:first-child {
  line-height:1em;
}

hr.space {
	margin-top:0;
	height:1px;
	border:none;
}

hr.double-space {
  margin-bottom:39px;
  height:1px;
  border:none;
}

section {
  margin-bottom:30px;
}
  section:last-child {
    margin-bottom:0;
  }

ul.bulletless {
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	list-style:none;
}
	ul.bulletless>li {

	}
		ul.bulletless>li ul.bulletless {
			padding-left:1.5em;
		}

/**************************************
 * Navigation Bar 
 */
.navbar-inner,
.navbar-fixed-top .navbar-inner {
  margin:0 auto;
  width:980px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  -webkit-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
	   -moz-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
	        box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}
.navbar .navbar-text a {
  color:#fff;
}

.brand {
  position:relative;
  width:114px;
}
  .brand > img {
    position:absolute;
    top:-2px;
    left:16px;
  }

.page-actions {
	float:right;
}

/* === Container === */
.container_wrap {
	padding:20px;
}

/**************************************
 * Content 
 */
.content-wrap {
	margin:0 -20px 20px;
	padding:20px;
	background:#fff url("/assets/dayr/content_bg.png") repeat-y top left;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
	   -moz-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
	        box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}

/**************************************
 * Challenge
 */
.challenge-box {
  margin-bottom:20px;
  padding:20px;
  height:160px;
  background-color:#C3EBF9;
  border-radius:3px;
}
.challenge-button {
  margin-bottom:30px;
  padding-top:18px;
  padding-bottom:18px;
  width:150px;
  font-size:20px;
}
.challenge-date {
	margin-bottom:15px;
	padding-bottom:15px;
	height:65px;
	text-align:center;
	line-height:32px;
	font-size:32px;
	color:#2BB4E2;
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.challenge-image {
  position:relative;
}
a.challenge-image-attribution {
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  padding:2px 4px;
  color:#fff;
  background-color:rgba(0,0,0,0.5);
  font-size:11px;
}

ul.completions {
  list-style:none;
  margin:0;
}
  ul.completions > li {
    margin-bottom:10px;
  }
  ul.completions .completion-user {
    
  }
  ul.completions .completion-date {
    color:#999;
  }