html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* End of CSS Reset Rules */

/* Basic CSS starts */
html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
body
{

font-family: 'Avenir', 'Open Sans', sans-serif;
color:#444;
font-size: 1.1em;
line-height: 25px;
-webkit-font-smoothing: antialiased;
background:#f8f5f5;
} 

h3,h4,h5,h6
{
  font-family: 'Avenir', 'Open Sans', sans-serif;
} 
h1,h2 {
  font-family: 'Annie Use Your Telescope', 'Open Sans', sans-serif;
  font-weight:100px;
  color:#ed2663;
} 
h1 {
   color: #ed2663;
   margin-bottom: 40px;
   margin-top: 35px;
}

h2 {
  font-size: 1.3em;  
}

p {
   margin:0;
   padding:0;
} 

ul, ol {
   padding: 0;
} 
ol li:before {
  color: #ed2663;
  font-weight: bold;
}

a {
   color:#35A9B3;
   font-weight: 500;
} 

a:hover{ /* Default for hovering over a link*/
   color:#000;
   text-decoration:underline;
} 

a:hover,a:active,a:focus {
   outline: 0;
}

strong{
   color: #ed2663;
   font-weight:600;

}

ul li {
   list-style-color: #ed2663;
   list-style-type: circle;
} 

.graybox {
  background-color: #f0f0f0;
  padding: 10px;
}

.btn {
   background-color: #35A9B3;
   color: #fff;
   border: none;
   height: 30px;
   border-radius: 5px;
} 

.float_right {
  float: right;
}

.btn:hover {
   background-color: #777;
   color: #fff;
} 
.glyphicon {
   position: static;
}
.btn-default {
   background-color: #f2f2f2;
}

:focus {
   outline:none;
}

::-moz-focus-inner {
   border:0;
}


#myTab li.active a{
   color:#fff !important;
   background:#16cbe6 !important;
   border-color:#16cbe6 !important;
}

/* Basic CSS */

.phone { /* margin-top on phones */
   margin-top: 30px;
}

.content-wrap {
   margin-top: 65px;
}

.modal h4{
   font-family: 'Avenir', 'Open Sans', sans-serif;
   color:#777;
}

/* Main content */
.timer {
   background: #fdf41b;
   border: 1px solid #f0f0f0;
   transform: skew(25deg); 
   -o-transform: skew(25deg); 
   -moz-transform: skew(25deg); 
   -webkit-transform: skew(25deg);
   background-repeat: no-repeat;
   margin-top:-80px;
   margin-left:-30px;
   width: 155px;
   height: 31px;
   padding:3px;
   padding-left: 30px;
/*
   background-color: #fff;
   color: #ed2663;
   border: 2px solid #ed2663;
   */
}

.timer p {
  transform: skew(-20deg); 
  -o-transform: skew(-20deg); 
  -moz-transform: skew(-20deg); 
  -webkit-transform: skew(-20deg);
  font-weight: bold;
  font-style: italic;
}

.mainy .label {
   font-size: 20px;
   padding:3px 5px;
   margin: 0px 3px;
   border-radius: 15px !important;
}  

.mainy .edit-btn .label {
   background-color: #ed2663;
   cursor: pointer;
   color: #FFF;
   border: 1px solid #ed2663;
   padding:3px 5px;
}

.mainy .edit-btn:hover {
   cursor: pointer;
   border: none;
}

.mainy .edit-btn:hover .label  {
   cursor: pointer;
   border: none;
   background-color: #FFF;
   cursor: pointer;
   color: #ed2663;
   border: 1px solid #ed2663;
}


/* Box styling for quick information (left most side)*/

.col-md-6 p {
   margin-bottom: 30px;
}

.col-md-10 h2 {
   margin-top: 30px;
   font-size: 1em;
   color: #000;
}

.col-md-10 h2 #dayrs
{
   color: #ed2663
}

.page-content {
   margin-top: 30px;
}

.col-md-12 {
   margin-top: 30px;
   }

.col-sm-12, .col-xs-12 {
  margin-top: 50px;

}

.col-md-12 h1 {
   font-size: 2em;
   font-weight: bolder;
   margin-bottom: 45px;
   margin-top:-20px;
   margin-left: 0;
   padding-left: 0;
   line-height: 1em;
}

.col-md-12 .challenge-name {
  margin-top: 35px;
}

.phone-h1 h1 {
   margin-top:-30px;
}

.phone-img img {
   margin-top: -20px;
   margin-bottom: 15px;
}

.col-md-12 .col-md-6 {
   padding: 0;
   padding-left: 5px;
   padding-right: 40px;
}

.col-md-6 img {
  float: right;
}

.col-md-12 .col-md-6 .dayrs {
   margin-bottom: 5px;
   font-weight: bolder;
}

.challenge-info {
   margin-right: 20px;
}

.tlabel {
   font-size: 1.6em;
   color: #777;
   margin-top:20px;
}

ul.completions {
   height: 60px;
   padding-left: 0;
   margin-left:0;
   overflow-x: hidden;
   overflow-y: scroll;
   width: 100%;
   margin-bottom:-15px;
}

ul.completions li {
   height: 100%;
   width: auto;
}

ul.completions img {
  margin-right:10px;
}

hr {
   margin: 0;
   margin-bottom:10px;
   border-color: #f0f0f0;
}
/* Dayr Details (pictures and likes) */

.comment_separater {
  margin-top:30px;
  margin-bottom:35px;
}

.challenge-image {
   float: right;
   width: 100%;
}

.challenge-image img {
   margin-right: 0;
}

.span1 {
   width: 80px;
   float: right;
   margin-right: 40px;
   margin-top: 60px;
}

/* Admin widget */

.awidget{
   background:#fff;
   padding-bottom: 30px;
   border: 1px solid #D8D8D8;
   border-radius: 6px;
   margin-bottom: 35px;
}

.awidget .sidebar-dropdown { /* the breadcrumbs */
   margin-bottom: 20px;
}

.awidget .awidget-head h3{
   margin:0px;
   font-family: 'Avenir', 'Open Sans', sans-serif;
   line-height:25px;
   color:#666;
   margin-bottom:10px;
   padding-bottom:10px;
   border-bottom:1px dashed #eee;
}

.awidget .awidget-body{
   color:#000;
   padding: 30px;
}

/* Login & Register */

.login-reg{
   width:100%;
   max-width:500px;
   margin:70px auto;
}

/* Side Bar (Right) */

.col-md-3 .awidget .related-challenges, .col-md-3 .awidget .related-lessons{
   margin-bottom: 5px;
}

.col-md-3 .awidget ul li {
   list-style-type: none;
   margin-bottom:12px;
   line-height: 1.2em;
   margin-left:-8px;
   padding-left: 15px;
   padding-right: 15px;
}

.col-md-3 .awidget .share h2, .col-md-3 .awidget .faq h2, 
.col-md-3 .awidget .related-challenges h2, .col-md-3 .awidget .related-lessons h2{
   background-image: url("/assets/dayr/banner.png");
   background-size: 300px 135px;
   font-weight: bolder;
   color: #fff;
   padding: 6px;
   display: block;
   padding-left: 15px;
   font-size: 1.0em;
   padding-left: 15px;
}

.col-md-3 .awidget .share ul, .col-md-3 .awidget .faq ul, .col-md-3 .awidget .related-challenges ul, .col-md-3 .awidget .related-lessons ul{
   padding: 15px;
} 

.addthis_toolbox {
   margin: 10px;
}

/* Top-Navigation Start */

.navbar { 
   border: none; 
   border-radius: 0px;
   height: 50px;
}

.navbar .navbar-header img { 
   width: 165px;
   height: auto;
   margin-top:-14px;
}

.navbar-default {
   border: none;
   background-color: #ed2663;
}

.navbar-default .navbar-nav>li>.org-identity {
   color: #FFF;
}

.navbar-default .navbar-nav > li > a {
   color: #fff;
}

.navbar-default .navbar-nav .dropdown:hover {
   color: #000;
   background-color: #ed2663;
}
.navbar-default .navbar-nav>li> a.org-identity:hover {
   color: #000;
   background-color: #ed2663;
}

.navbar-default .navbar-toggle {
   margin-left: 30px;
}

nav ul li a:hover, nav ul li:hover {
   color: #fff;
   text-decoration: underline;
   border: none;
   cursor: pointer;
} 

.navbar-default .navbar-nav>li>a {
   color: #fff;
   font-style: underline;
}

.nav img {
   margin-top: 15px;
   margin-left: 50px;
   margin-right:10px;
   width: 25px;
   height: auto;
}

/* Top-Navigation end */

/* Footer */

footer{
   background-color:#F0F0F0;
   box-shadow:inset 0px 0px 3px #F0F0F0;
   color:#777;
   line-height:25px;
   padding:10px 0px 10px 0px;
}

footer a{
   color:#777;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
   margin-top: 10px;
   margin-bottom: 10px;
   border-top: #000 1px solid;
   border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   margin:15px 0px;
}

/* Responsive CSS */

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
      border-radius:5px;
      background-color: #ed2663;
   }
   .navbar-toggle {
      margin-right:0px !important;
   } 
}
/* Some overrides from default bootstrap styles */

.navbar-brand {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #35A9B3; 
}

.thumbnail { 
  border: none;
}

.col-md-4, .col-sm-6 {
  padding: 0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   background-color: #ed2663;
}

.nav>li>a{

   background-color: #ed2663;
   color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   background-color: #35A9B3;
   color: #fff;
   }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #fff;
   background-color: #ED2663;
}

.dropdown-menu > li {
   list-style-type: none;
}

.dropdown-menu { 
   border-radius: 10px;
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   padding: 15px 10px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
   background-color: #ed2663;
   }

/* modals */
.modal-backdrop.in {
   opacity: 0.5 !important;
}


/* override navbar toggle */
@media (max-width: 600px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (max-width: 1200px) {
   .navbar-default .navbar-nav>li>a {
      padding-right: 15px;
   }
}

/* Override */
@media (min-width: 768px) {
   .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      background-color: #ed2663;
      color: #FFF;
   } .awidget {
      min-height: 520px;
   } .container .row .col-md-3 .logo a img {
      margin-top: 12px;
   } .header .row .col-md-9 nav .active {
      height: 65px;
      margin-right: 20px;
      margin-left: 20px;
   } 
   .company-name a {
      font-weight: bold;
      color: #ed2663;
      margin-right: 40px;
      margin-left:10px;
   } .header .nav li a {
      margin-top: 5px;
      color: #000;
   }  .header .nav li a:hover {
      background-color: #04364F;
      border-bottom: none;
   }

}

/* Desktop */

@media (max-width: 991px){
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .form{
      margin:10px auto;
   }
}

/* Sub Nav*/
@media (max-width: 760px){
   .col-md-9 {
      margin: 0;
      padding: 0;
   }
   .header .container .row .navbar-header .col-md-3 {
      height: 0;
   }
   .page-content {
      margin-top: 0;
   }  
   .mainy{
      margin-left: 0px;
   }
   .sidebar-dropdown{
      display:block;
      text-align: left;
      margin:0 auto;
      margin-bottom: 0;
      background-color:#e7e7e7;
   }
   .sidebar-dropdown a, .sidebar-dropdown a{
      color:#ed2663;
      display:block;
      padding:10px 15px;
   }  
}

/* fix the header on responsive*/
@media (max-width: 995px){
   .header .nav>li>a {
      padding: 0px 4px;
   }

   .header {
      margin: 0;
      padding: 0;
   }
   .container
    {
      padding: 0;
    }
}


/* Comment Section */

a:hover {
   background: none;
}

#comment {
   height: 35px;
   width:70%;
   border: 1px solid #DDD;
   border-radius: 2px;
}

#comment_btn {
   border-radius: 5px;
   padding:10px;
   padding-bottom: 30px;
   padding-left: 20px;
   padding-right: 20px;
   color: #fff;
   font-size: 1em;
   height: 35px;
   font-family: 'Avenir', 'Open Sans', sans-serif;
} 

#comment_btn:hover {
   background-color: #777;
}

#comment-reply-btn {
   margin-left: 78px;
   color: #777;
}

#comment-reply-btn:hover {
   color: #ed2663;
   text-decoration: none;
} 

#complete-btn {
   margin-bottom: 20px;
} 

.challenge-button {
   margin-top: 25px;
   margin-bottom: 30px;
   border-radius: 5px;
   padding: 40px;
   padding-top: 20px;
   border-radius: 10px;
   font-size: 1.2em;
   font-weight: bold;
   display: block;

   background-color: #35A9B3;
   color: #fff;
   border: 2px solid #35A9B3;
} 

.challenge-button:hover {
   background-color: #fff;
   border:2px solid #35A9B3;
   color: #35A9B3;
}

.challenge-image-mobile {
   margin-top: -50px;
   margin-bottom:30px;
}

.month {
   font-size: 100px;
} 

#new-assign {
   float: right;
} 

.create-btn {
   margin-top: 20px;
}












/* CSS Styling for the login page*/
html,body{
    position: relative;
    height: 100%;
}

.loginpage {
   opacity: 0.7;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    background-size: cover;
}

.avatar img {
  width: 100px;
  height: auto;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
    background-color: #ed2663;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* Discussion and Assignments page */

@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result .col-md-7 { position: relative; }
.search-result span.plus { position: absolute; right: 0; top: 0; }
.search-result span.plus a { color: #ed2663; background-color: #fff; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { color: #000; }

.meta-search li {
  list-style-type: none;
}

/* Discussion question CSS */
.message-item {
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px 10px 5px 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}

.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.message-head img {
 min-height: 40px;
 max-height: 40px;
 margin-right: 20px;
 margin-bottom: 0px;
}
.qa-message-list {
  margin-left: 10px;
}

.qa-message-content {
  border-bottom: 1px solid #eee;
}

.qa-message-when .qa-message-who {
 font-weight: bold; 
}

/* Comment styling */
section {
  margin-top: 30px;
}

.comments {
  clear:both;
  margin-top: 0px;
}

.comment {
  clear:both;
  margin-left:40px;
  margin: 15px 15px 0px 15px;
}

.comment-img {
  float:left;
  margin-left:-40px;
}

.comment-timeago {
  color:#999;
}

.comment-child .comment-timeago {
  display: none;
}

.comment-username {
  font-weight:bold;
}

.comment-root img{
  width: 50px;
  height: 50px;
  margin-right: 12px;
  margin-left: 25px;
}

.comment-reply {
  display:none;
  margin-top:10px;
  margin-left:80px;
}

a#comment-reply-btn {
  font-size:13px;
  color:#35A9B3;
}

a#comment-reply-btn:hover{ /* Default for hovering over a link*/
   color:#000;
   text-decoration:underline;
} 

a#comment-reply-btn:hover,a:active,a:focus {
   outline: 0;
}

p.comment-username {
  margin-bottom:0;
}

.comment-timeago {
  font-size:11px;
}

.comment-child {
  margin:0px;
  margin-left:65px;
  margin-bottom: 10px;
}

.comment-child .pull-left .comment-img {
  margin-left: 5px;
}
