html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* End of CSS Reset Rules */

/* Basic CSS starts */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body
{
font-family: Arial, Avenir, 'Open Sans', sans-serif;
color:#444;
font-size: 1em;
line-height: 25px;
-webkit-font-smoothing: antialiased;
background:#f8f5f5 url('../img/main-back.png') repeat;
} 

h3,h4,h5,h6
{
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
} 
h1,h2 {
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
   font-weight:100px;
   color:#707070;
} 
h1 {
   color: #E94E77;
   margin-bottom: 40px;
   margin-top: 35px;
}
p {
   margin:0;
   padding:0;
} 

ul, ol {
   padding: 0;
} 

a {
   color:#E94E77;
   text-decoration:none;
} 

a:hover{ /* Default for hovering over a link*/
   color:#E94E77;
   text-decoration:underline;
} 

a:hover,a:active,a:focus {
   outline: 0;
}

strong{
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
   font-weight:600;
}

ul li {
   list-style-color: #E94E77;
} 

.btn {
   background-color: #E94E77;
   color: #fff;
   border: none;
   height: 30px;
   border-radius: 0;
} 

.btn:hover {
   background-color: #777;
   color: #fff;
} 
.glyphicon {
   position: static;
}
.btn-default {
   background-color: #f2f2f2;
}

:focus {
   outline:none;
}

::-moz-focus-inner {
   border:0;
}

.form *{
   font-size:13px;
}

#myTab li.active a{
   color:#fff !important;
   background:#16cbe6 !important;
   border-color:#16cbe6 !important;
}

/* Basic CSS ends */

.page-content {
   margin-top: 25px;
}

.content-wrap {
   margin-top: 65px;
}

.modal h4{
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
   font-weight:bold;
   color:#777;
   font-size:16px;
}

/* Main content */
.timer {
   background-image: url("../dayr/timer.png");*/
   background-size: 210px 60px;
   background-repeat: no-repeat;
   margin-top:-50px;
   margin-left:-30px;
   width: 230px;
   height: 40px;
   padding:10px;
   padding-left: 50px;
   color: #fff;
/*
   background-color: #fff;
   color: #E94E77;
   border: 2px solid #E94E77;
   */
}

.mainy .label {
   font-size: 20px;
   padding:3px 5px;
   margin: 0px 3px;
   border-radius: 15px !important;
}  

.mainy .edit-btn .label {
   background-color: #E94E77;
   cursor: pointer;
   color: #FFF;
   border: 1px solid #E94E77;
   font-size: 10px;
   padding:3px 5px;
}

.mainy .edit-btn:hover {
   cursor: pointer;
   border: none;
}

.mainy .edit-btn:hover .label  {
   cursor: pointer;
   border: none;
   background-color: #FFF;
   cursor: pointer;
   color: #E94E77;
   border: 1px solid #E94E77;
}


/* Box styling for quick information (left most side)*/

.col-md-6 p {
   padding-right: 25px;
}

.col-md-10 h2 {
   margin-top: 30px;
   font-size: 1em;
   color: #000;
}

.col-md-10 h2 #dayrs
{
   color: #E94E77
}

.col-md-12 h1 {
   font-size: 2.2em;
   font-weight: bolder;
   font-style: italic;
   margin-bottom: 30px;
   margin-left: 0;
   padding-left: 0;
}

.col-md-12 .col-md-6 {
   padding: 0;
   padding-left: 5px;
}

.col-md-12 .col-md-6 h2 {
   margin-bottom: 15px;
   color: #4eb9c2;
   font-size: 1.2em;
   font-style: italic;
   font-weight: bolder;
}

.challenge-info {

   margin-right: 20px;
}

.tlabel {
   font-size: 1.6em;
   color: #777;
   margin-top:20px;
}

ul.completions {
   height: 60px;
   padding-left: 0;
   margin-left:0;
   overflow-x: hidden;
   overflow-y: scroll;
   width: 100%;
}

ul.completions li {
   height: 100%;
   width: auto;
}
hr {
   margin: 0;
   margin-bottom:10px;
}
/* Dayr Details (pictures and likes) */

.challenge-image {
   float: right;
   width: 100%;
}

.challenge-image img {
   margin-right: 0;
}

.span1 {
   width: 80px;
   float: right;
   margin-right: 40px;
   margin-top: 60px;
}

/* Admin widget */

.awidget{
   background:#fff;
   padding-bottom: 30px;
   border: 1px solid #F0F0F0;
   border-radius: 6px;
}

.awidget .sidebar-dropdown { /* the breadcrumbs */
   margin-bottom: 20px;
}

.awidget .awidget-head h3{
   margin:0px;
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
   font-size:15px;
   line-height:25px;
   color:#666;
   margin-bottom:10px;
   padding-bottom:10px;
   border-bottom:1px dashed #eee;
}

.awidget .awidget-body{
   color:#000;
   padding: 30px;
}

/* Login & Register */

.login-reg{
   width:100%;
   max-width:500px;
   margin:70px auto;
}

/* Side Bar (Right) */

.col-md-3 .awidget .related-challenges{
   background-image: url("../dayr/background.png");
   background-size: 100% 100%;
   opacity: 0.75;
   padding: 15px;
}

.col-md-3 .awidget .related-challenges h2{
   background-color: #fff;
   color: #eb7210;
   display: inline-block;
   font-size: 1.3em;
   font-weight: bolder;
   transform: rotate(-3deg);
   -ms-transform: rotate(-3deg); /* IE 9 */
   -webkit-transform: rotate(-3deg); /* Opera, Chrome, and Safari */
   font-style: italic;
   padding: 5px;
}

.col-md-3 .awidget .quizes h2, .col-md-3 .awidget .faq h2, .col-md-3 .awidget .social h2 {
   background-image: url("../dayr/banner.png");
   background-size: 300px 135px;
   font-weight: bolder;
   color: #fff;
   padding: 6px;
   display: block;
   padding-left: 15px;
}

.col-md-3 .awidget .quizes ul, .col-md-3 .awidget .faq ul, .col-md-3 .awidget .social ul {
   padding-left: 15px;
   color: #35a9b3;
   font-weight: bold;
}

.col-md-3 .awidget .related-challenges .challenge{
   color: #E94E77;
   font-size: 1.6em;
   display: inline-block;
   margin-top:-10px;
}

.col-md-3 .awidget .related-challenges li{
   background-color: #fff;
   margin-top: 6px;
}

/* Top-Navigation Start */

.navbar { 
   border: none; 
   border-radius: 0px;
   height: 50px;
}

.navbar .navbar-header img { 
   width: 60px;
   height: 60px;
   margin-top:-15px;
}

.navbar-default {
   border: none;
   background-color: #E94E77;
}

.navbar-default .navbar-nav>li>.org-identity {
   color: #FFF;
}
.navbar-default .navbar-nav .dropdown:hover {
   color: #000;
   background-color: #E94E77;
}
.navbar-default .navbar-nav>li> a.org-identity:hover {
   color: #000;
   background-color: #E94E77;
}

.navbar-default .navbar-toggle {
   margin-left: 30px;
}

nav ul li a:hover, nav ul li:hover {
   color: #fff;
   text-decoration: underline;
   border: none;
   cursor: pointer;
} 

.navbar-default .navbar-nav>li>a {
   color: #fff;
   font-style: underline;
}

.nav img {
   width: 20px;
   margin-top: 15px;
   margin-left: 50px;
}

/* Top-Navigation end */

/* Footer */

footer{
   background-color:#F0F0F0;
   box-shadow:inset 0px 0px 3px #F0F0F0;
   color:#777;
   font-size:14px;
   line-height:25px;
   padding:10px 0px 10px 0px;
}

footer a{
   color:#777;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
   margin-top: 10px;
   margin-bottom: 10px;
   border-top: #000 1px solid;
   border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   margin:15px 0px;
}

/* Responsive CSS */

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
      border-radius:5px;
      background-color: #E94E77;
   }
   .navbar-toggle {
      margin-right:0px !important;
   } 
}
/* Some overrides from default bootstrap styles */

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   background-color: #E94E77;
}

.nav>li>a{

   background-color: #E94E77;
   color: #fff;
}

/* modals */
.modal-backdrop.in {
   opacity: 0.5 !important;
}


/* override navbar toggle */
@media (max-width: 600px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (max-width: 1200px) {
   .navbar-default .navbar-nav>li>a {
      padding-right: 15px;
   }
}

/* Override */
@media (min-width: 768px) {
   .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      background-color: #E94E77;
      color: #FFF;
   } .awidget {
      min-height: 520px;
   } .container .row .col-md-3 .logo a img {
      margin-top: 12px;
   } .header .row .col-md-9 nav .active {
      height: 65px;
      margin-right: 20px;
      margin-left: 20px;
   } 
   .company-name a {
      font-weight: bold;
      color: #E94E77;
      margin-right: 40px;
      margin-left:10px;
   } .header .nav li a {
      margin-top: 5px;
      color: #000;
   }  .header .nav li a:hover {
      background-color: #04364F;
      border-bottom: none;
   }

}

/* Desktop */

@media (max-width: 991px){
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .form{
      margin:10px auto;
   }
}

/* Sub Nav*/
@media (max-width: 760px){
   .col-md-9 {
      margin: 0;
      padding: 0;
   }
   .header .container .row .navbar-header .col-md-3 {
      height: 0;
   }
   .page-content {
      margin-top: 0;
   }  
   .mainy{
      margin-left: 0px;
   }
   .sidebar-dropdown{
      display:block;
      text-align: left;
      margin:0 auto;
      margin-bottom: 0;
      background-color:#e7e7e7;
   }
   .sidebar-dropdown a, .sidebar-dropdown a{
      color:#E94E77;
      display:block;
      padding:10px 15px;
   }  
}

/* fix the header on responsive*/
@media (max-width: 995px){
   .header .nav>li>a {
      padding: 0px 4px;
   }

   .header {
      margin: 0;
      padding: 0;
   }
   .container
    {
      padding: 0;
    }
}


/* Comment Section */

a:hover {
   background: none;
}

#comment {
   height: 35px;
   width:80%;
}
#comment_btn {
   border-radius: 0;
   background-color: #E94E77;
   color: #fff;
   font-size: 1em;
   height: 35px;
   font-family: Arial, Avenir, 'Open Sans', sans-serif;
} 

#comment_btn:hover {
   background-color: #777;
}
#comment-reply-btn {
   margin-left: 78px;
   color: #777;
}
#comment-reply-btn:hover {
   color: #E94E77;
   text-decoration: none;
} 
#complete-btn {
   margin-bottom: 20px;
} 

.challenge-button {
   margin-top:25px;
   margin-bottom: 30px;
   border-radius: 5px;
   padding: 40px;
   padding-top: 20px;
   border-radius: 10px;
   font-size: 1.2em;
   font-weight: bold;

   background-color: #fff;
   color: #35A9B3;
   border: 2px solid #35A9B3;
} 

.challenge-button:hover {
   background-color: #35A9B3;
   border:2px solid #35A9B3;
   color: #fff;
}

.challenge-image-mobile {
   margin-top: -50px;
   margin-bottom:30px;
}

.month {
   font-size: 100px;
} 

#new-assign {
   float: right;
} 

.create-btn {
   margin-top: 20px;
}
